@model Garantia_Procedimento_Model

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Garantia.garantiaid)


<fieldset>

    <div class="row">
        <section class="col col-6">
            <label class="label">Cliente</label>
            <label class="select">
                @*@Html.DropDownList("cd_cadastro", null, String.Empty, new { @class = "select2", @id = "ProcedimentoAdm_cd_cadastro" })*@
                @Html.DropDownListFor(p => p.ProcedimentoAdm.CD_CADASTRO, ViewBag.cd_cadastro as IEnumerable<SelectListItem>, String.Empty, new { @class = "select"}) <i></i>
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.CD_CADASTRO)


                

            </label>
        </section>

        <section class="col col-3">
            <label class="label">Tipo do Procedimento</label>
            <label class="select">
                @*@Html.DropDownList("CD_TIPO", String.Empty )*@
                @Html.DropDownListFor(p => p.ProcedimentoAdm.CD_TIPO, ViewBag.CD_TIPO as IEnumerable<SelectListItem>, String.Empty) <i></i>
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.CD_TIPO)
            </label>
        </section>

        <section class="col col-3">
            <label class="label">Motivo do Procedimento</label>
            <label class="select">
                @Html.DropDownListFor(p => p.ProcedimentoAdm.MOTIVOID, ViewBag.motivoid as IEnumerable<SelectListItem>, String.Empty) <i></i>

            </label>
        </section>
    </div>






    <div class="row">

        <section class="col col-3">
            <label class="label">Nota Fiscal Foxlux</label>
            <label class="input">
                <i class="icon-prepend fa fa-file-o"></i>
                @Html.TextBoxFor(m => m.ProcedimentoAdm.NF_FOX, new { @class = "form-control", @placeholder = "Nota Fiscal Foxlux" })
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.NF_FOX)
                
            </label>
            <p id="msgNota" style="color: red"></p>
        </section>

        <section class="col col-3">
            <label class="label">Emissão</label>
            <label class="input state-disabled">
                <i class="icon-prepend fa fa-calendar"></i>
                <input class="form-control" disabled="disabled" id="ProcedimentoAdm_DTA_NF_FOX" value="" type="text">
            </label>
        </section>




        <section class="col col-6">
            <label class="label">Departamento</label>
            <label class="select">
                @Html.DropDownListFor(p => p.ProcedimentoAdm.CD_DEPARTAMENTO, ViewBag.cd_departamento as IEnumerable<SelectListItem>, String.Empty ) <i></i>
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.CD_DEPARTAMENTO)
            </label>
        </section>

    </div>

    <div class="row">


        <section class="col col-6">
            <label class="label">Transportador</label>
                @Html.DropDownList("cod_transportador", null, String.Empty, new { @class = "select2", @id = "ProcedimentoAdm_cod_transportador" }) <i></i>
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.CD_TRANSPORTADOR)
        </section>


        <section class="col col-3">
            <label class="label">Nota Fiscal Cliente</label>
            <label class="input">
                <i class="icon-prepend fa fa-file-text"></i>
                @Html.TextBoxFor(m => m.ProcedimentoAdm.NF_CLIENTE, new { @class = "form-control", @placeholder = "Nota Fiscal Cliente", @Value = Model.Garantia.num_nf_cliente })
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.NF_CLIENTE)
            </label>
        </section>


    </div>

    <div class="row">
        <section class="col col-6">
            <label class="label"><span class="text-danger">Débito Transportadora</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-money"></i>
                @Html.TextBoxFor(m => m.vlr_debito_transportador, new { @class = "form-control", @placeholder = "Débito Transp.", @Value = Model.vlr_debito_transportador.ToString("N2") })
                @Html.ValidationMessageFor(model => model.vlr_debito_transportador)
            </label>
        </section>

        <section class="col col-6">
            <label class="label"><span class="text-danger">Débito Representante</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-money"></i>
                @Html.TextBoxFor(m => m.vlr_debito_representante, new { @class = "form-control", @placeholder = "Débito Repres.", @Value = Model.vlr_debito_representante.ToString("N2") })
                @Html.ValidationMessageFor(model => model.vlr_debito_representante)
            </label>
        </section>


    </div>


    <div class="row">
        <section class="col col-4">
            <label class="label"><span class="text-danger" rel="popover-hover" data-placement="right" data-original-title="Como foi calculado ? " data-content="Soma das Quantidades que foram descartadas, ou seja, estão em garantia mas não é possível conserto ">Débito Foxlux</span></label>
            
            <label class="input">
                <i class="icon-prepend fa fa-money"></i>
                @Html.TextBoxFor(m => m.vlr_debito_foxlux, new { @class = "form-control", @placeholder = "Débito Foxlux.", @Value = Model.vlr_debito_foxlux.ToString("N2") })
                @Html.ValidationMessageFor(model => model.vlr_debito_foxlux)
            </label>
        </section>

        <section class="col col-4">
            <label class="label"><span class="text-danger" rel="popover-hover" data-placement="right" data-original-title="Como foi calculado ? " data-content="Soma das Quantidades que estão Fora da Garantia + Outras Marcas + Faltantes + Avariada ">Débito Cliente</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-money"></i>
                @Html.TextBoxFor(m => m.vlr_debito_cliente, new { @class = "form-control", @placeholder = "Débito Cliente", @Value = Model.vlr_debito_cliente.ToString("N2") })
                @Html.ValidationMessageFor(model => model.vlr_debito_cliente)
            </label>
        </section>

        <section class="col col-4">
            <label class="label"><span class="text-success" rel="popover-hover" data-placement="right" data-original-title="Como foi calculado ? " data-content="Soma das Quantidades que estão Atendidas pela garantia">Crédito Cliente</span></label>
            <label class="input">
                <i class="icon-prepend fa fa-money"></i>
                @Html.TextBoxFor(m => m.vlr_credito_cliente, new { @class = "form-control", @placeholder = "Crédito Cliente", @Value = Model.vlr_credito_cliente.ToString("N2") })
                @Html.ValidationMessageFor(model => model.vlr_credito_cliente)
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-4">
            <label class="label"><span>Anexar arquivo</span></label>
            <div class="input input-file">
                <span class="button"><input id="file" name="files" onchange="this.parentNode.nextSibling.value = this.value" type="file">Browse</span><input placeholder="Incluir arquivo" readonly="" type="text" multiple="multiple">
                
            </div>
        </section>
        <section class="col col-8">

            <label class="label">Obs</label>
            <label class="textarea textarea-resizable">
                @Html.TextAreaFor(m => m.ProcedimentoAdm.OBS, new { @class = "custom-scroll", @rows = "2" })
                @Html.ValidationMessageFor(model => model.ProcedimentoAdm.OBS)
            </label>
        </section>
        
    </div>

</fieldset>

