@model Ps_Sac_Resposta_Model

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.PS_Sac.cod_sac)
@Html.HiddenFor(model => model.PS_Sac.des_assunto)
@Html.HiddenFor(model => model.PS_Sac.des_descricao)

<fieldset>

    <div class="row">
        <section class="col col-6">
            <label class="label">Estágio do Sac</label>
            <label class="select">
                @Html.DropDownList("cod_estagio") <i></i>
            </label>
        </section>

        <section class="col col-6">
            <label class="label">Situação do Sac</label>
            <label id="stateerror" class="select">
                @Html.DropDownList("cod_situacao") <i></i>
                
            </label>

            <div id="secsituacao" class="alert alert-danger alert-block">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading">Olá..</h4>
                 Você escolheu a finalização, neste caso a situação será escolhida pelo sistema conforme o tipo da finalização do sac.
                <br />
                A menos que escoha situação Cancelada, neste caso iremos cancelar este SAC.
            </div>

        </section>

    </div>
    <div>
        <section>
            <label class="label">Motivo do Sac</label>
            <label class="select">
                @Html.TextBoxFor(m => m.motivo, new { @class = "form-control", @placeholder = "Motivo" })
                @Html.ValidationMessageFor(a => a.motivo)
            </label>
        </section>

        <section>
            <label class="label">Obs</label>
            <label class="textarea textarea-resizable">
                <i class="icon-prepend fa fa-comment"></i>
                @Html.TextAreaFor(m => m.Obs, new { @class = "custom-scroll", @rows = "2" })
                @Html.ValidationMessageFor(model => model.Obs)
            </label>
        </section>
        
    </div>

</fieldset>
