@model PS_Sac

@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.cod_sac)
@Html.HiddenFor(model => model.dta_abertura)
@Html.HiddenFor(model => model.dta_finalizacao)
@Html.HiddenFor(model => model.cod_usuario)
@Html.HiddenFor(model => model.cod_estagio)
@Html.HiddenFor(model => model.cod_situacao)

<style>
    .smart-form .label {
        display: inline-block !important;
    }
</style>







<fieldset>

    <div class="row">
        <section class="col col-8">
            <label class="label">Assunto</label>
            <label class="input">
                <i class="icon-prepend fa fa-comment-o"></i>
                @Html.TextBoxFor(m => m.des_assunto, new { @class = "form-control", @placeholder = "Assunto" })
                @Html.ValidationMessageFor(m => m.des_assunto)
            </label>
        </section>

        <section class="col col-4">
            <label class="label">Origem</label>
            <label class="select">
                @Html.DropDownList("cod_empresa") <i></i>
                @Html.ValidationMessageFor(m => m.cod_empresa)
            </label>
        </section>
 


    </div>

    <div class="row">
        <section class="col col-6">
            <label class="label">Solicitação</label>
            <label class="textarea textarea-resizable">
                <i class="icon-prepend fa fa-comment"></i>
                @Html.TextAreaFor(m => m.des_descricao, new { @class = "custom-scroll", @rows = "2" })
                @Html.ValidationMessageFor(m => m.des_descricao)
            </label>
        </section>

        <section class="col col-6">
            <label class="label">Solução</label>
            <label class="textarea textarea-resizable">

                @Html.TextAreaFor(m => m.des_solucao, new { @class = "custom-scroll", @rows = "2" })
            </label>
        </section>
    </div>



    <div class="row">
        <section class="col col-4">
            <label class="label">Tipo da Pessoa</label>
            <label class="select">
                @Html.DropDownList("tp_pessoa", String.Empty) <i></i>
                @Html.ValidationMessageFor(m => m.tp_pessoa)
            </label>
        </section>

        <section class="col col-8">
            <label class="label">Empresa/Contato/Lead</label>
            <label class="select">
                @*@Html.DropDownList("cod_pessoa", null, new { @class = "select2" })*@
                @*@Html.DropDownList("cod_pessoa", new SelectList(string.Empty, "cod_tipo", "des_pessoa", Model.cod_pessoa), "Seleceione um Cadastro", new { @class = "select2" })*@

                @*@if (ViewBag.existepessoa != null)
                     {
                         @Html.DropDownList("cod_pessoa", null, new { @class = "select2" })
                    }
                     else
                     {*@
                @Html.DropDownList("cod_pessoa", null, String.Empty, new { @class = "select" })<i></i>
                @*}*@

                @Html.ValidationMessageFor(m => m.cod_pessoa)

            </label>
            @*<a class="txt-color-orange" href="javascritp:void(0)" data-toggle="modal" data-target="#VinculaNota">Adicionar </a>*@
        </section>
    </div>



    <div class="row">
        <section class="col col-6">
            <label class="label">Tipo do Sac</label>
            <label class="select">
                @Html.DropDownList("cod_tipo") <i></i>
            </label>
        </section>

        <section class="col col-6">
            <label class="label">Origem do Sac</label>
            <label class="select">
                @Html.DropDownList("cod_origem") <i></i>
            </label>
        </section>
    </div>


    <div class="row">
        <section class="col col-6">
            <label class="label">Área Responsável</label>
            <label class="select">
                @Html.DropDownList("cod_classe") <i></i>
            </label>
        </section>

        <section class="col col-6">
            <label class="label">Qual Motivo</label>
            <label class="select">
                @*@Html.DropDownList("cod_categoria", String.Empty) <i></i>*@
                @*@Html.DropDownList("cod_categoria", new SelectList(string.Empty, "cod_categoria", "des_nome"), "Seleceione uma Categoria")  <i></i>*@
                @Html.DropDownList("cod_categoria") <i></i>
                @Html.ValidationMessageFor(m => m.cod_categoria)
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-10">
            <span>Digite o Códigos do produto</span>
            @Html.TextBoxFor(m => m.tag, new { @class = "form-control", @data_role = "tagsinput" })
        </section>

    </div>

    <div class="row">
        <section class="col col-6">
            <label class="label">Qual Destino</label>
            <label class="select state-disabled">
                    @Html.DropDownList("cod_estagio", null, new { @disabled = "disabled" }) <i></i>
                <i></i>
            </label>
        </section>

        <section class="col col-6">
            <label class="label disabled">Situação do Sac</label>
            <label class="select state-disabled">
                @Html.DropDownList("cod_situacao", null, new { @disabled = "disabled" }) <i></i>
            </label>
        </section>


       



    </div>

</fieldset>
