@model PS_Sac
@{
    ViewBag.PageClass = "minified";
}

<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>S.A.C.</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body no-padding smart-form">
                            @using (Html.BeginForm("Create", "Sac", FormMethod.Post, new { enctype = "multipart/form-data", @id = "wizard-1", @novalidate = "novalidate" }))
                            {
                                @Html.Partial("_CreateOrUpdate", Model)
                                <footer>
                                    <button type="submit" name="save" class="btn btn-success" value="save"> Criar </button>
                                    <button type="submit" name="save-create" class="btn btn-info" value="save-create"> Criar+ </button>
                                    <a href="@Url.Action("List")" class="btn btn-warning bg-color-yellow"> <i class="fa fa-lg fa-arrow-left"></i> Voltar </a>
                                </footer>
                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>

    @*<div class="modal fade" id="VinculaNota" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Adicionar cliente</h4>
                </div>

 
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <label class="label txt-color-orange">Tipo</label>
                                <div class="form-group">
                                    <select id="tp_pessoa_cad" name="tp_pessoa_cad">
                                        <option value="L">Lead</option>
                                        <option value="C">Contato</option>
                                    </select>
                                </div>
                                <label class="label txt-color-orange">Nome</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="NF_CLiente" name="NF_Cliente" placeholder="Nome" required />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <a class="btn btn-primary"  onclick="GravaID(this);">Gravar
                        </a>
                    </div>
               
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>*@


    <!-- end widget grid -->
</div>
@section pagespecific {
    <script>
        $(document).ready(function () {


            $("#cod_pessoaf").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("GetPessoasAutocomplete")',
                        type: "POST",
                        dataType: "json",
                        data: { id: $("#tp_pessoa").val(), terms: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {

                                return {
                                    label: item.cod_pessoa + ", " + item.des_pessoa,
                                    value: item.cod_pessoa
                                }
                            }));
                        }
                    })
                },
                appendTo: "#result",
                select: function (event, ui) {
                    $("#cod_pessoa").val(ui.item ? ui.item.value : "");
                    $("#cod_pessoaf").val(ui.item ? ui.item.label : "");
                },
                change: function (event, ui) {
                    $("#cod_pessoa").val(ui.item ? ui.item.value : "");
                    $("#cod_pessoaf").val(ui.item ? ui.item.label : "");
                },
                messages: {
                    noResults: "", results: ""
                }
            });



            //Dropdownlist Selectedchange event
            $("#tp_pessoa").change(function () {
                $("#cod_pessoa").empty();

                @*$.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPessoas")', // we are calling json method
                    dataType: 'json',
                    data: { id: $("#tp_pessoa").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#cod_pessoa").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;*@
            })


            //Dropdownlist Selectedchange event
            $("#cod_classe").change(function () {
                $("#cod_categoria").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCategorias")', // we are calling json method
                    dataType: 'json',
                    data: { id: $("#cod_classe").val() },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#cod_categoria").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })

        });
    </script>
}
