@model AccountLoginModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}
@section topright{
    <style>
        #header {
            display: none;
        }
    </style>
}
<div id="content" class="container">
    <div class="row">
        @*@{ Html.RenderPartial("_LoginText"); }*@
        <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm"> &nbsp; </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="well no-padding">
                <form action="@Url.Action("login", "Protected")" method="POST" id="login-form" class="smart-form client-form">
                    <header style="background-color:#fff">
                        <img src="~/content/img/Logo_P.jpg" class="img-responsive" alt="Foxlux">
                    </header>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">E-mail ou Nome</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="Email" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entre com seu email ou Nome</b>
                            </label>
                        </section>
                        <section>
                            <label class="label">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="Password" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Entre com sua senha</b>
                            </label>
                            @*<div class="note">
                                    <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> Esqueçeu sua senha ?</a>
                                </div>*@
                        </section>
                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Lembrar minhas credenciais
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Entrar
                        </button>
                    </footer>
                </form>
            </div>
            @*@{ Html.RenderPartial("_SocialMedia"); }*@
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm"> &nbsp; </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },
                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },
                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}