@model IEnumerable<RelatoCampanha>

@{
    ViewBag.PageClass = "minified";
}


<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-purple" id="wid-id-3">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Lista</h2>
                        <div class="widget-toolbar">
                            <div class="bg-color-purple">
                                @*@Model.Count()*@
                            </div>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7">
                                        <a href="@Url.Action("CampanhasOrcadoXDiretoria","CampanhaRelatorio")" class="btn btn-success">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Nova Consulta</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- content goes here -->
                            <table id="idtable" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Regional</th>
                                        <th data-hide="phone,tablet">Pago por Regional</th>
                                        <th data-hide="phone,tablet">Orçado por Reginoal</th>
                                        <th data-hide="phone,tablet">Saldo </th>
                                        <th data-hide="phone,tablet">% Uso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            <td> @product.cod_regional  </td>
                                            <td data-hide="phone,tablet"> @( product.vlr_pgto.HasValue ? product.vlr_pgto.Value.ToString("c") : "0" )  </td>
                                            <td data-hide="phone,tablet"> @( product.vlr_meta.HasValue ? product.vlr_meta.Value.ToString("c") : "0" )  </td>
                                            <td data-hide="phone,tablet"> @( product.vlr_faturamento.HasValue ? product.vlr_faturamento.Value.ToString("c") : "0" )  </td>
                                            <td data-hide="phone,tablet"> @( product.per_atingido.HasValue ? product.per_atingido.Value.ToString("p") : "0" )  </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!-- /.modal -->


</div>
@section pagespecific {
    <script>

        pageSetUpTable("idtable", 150);


        function GravaID(element) {
            document.getElementById("id").value = $(element).attr("data-campanhaid");

        }


        function Sucesso(data) {

            var isError = data.hasError;
            if (!isError)
            {
                document.getElementById("msgretorno").innerHTML = data.Msg;
                var _campanhaid = data.id;
                $('#estagio').val('0'); //value of your default option
                $('#formapgto').val('0'); //value of your default option
                $('#vlr_pgto').val('');
                $('#Obs').val('');
                $('#VinculaNota').modal('hide');

                alert('Email enviado com sucesso');
            }else
            {
                document.getElementById("msgretorno").innerHTML = data.Msg;
            }

        }


        function ChamaDocs(id) {
            var strWindowFeatures = "width=800,height=600,menubar=no,location=no,resizable=no,scrollbars=yes,status=yes,toolbar=no";
            var urlopen = "/CampanhaMarketing/GetDetailsFromDoc/MKT_ID"
                    .replace("MKT_ID", id)

            window.open(urlopen, '_blank', strWindowFeatures, true);

        }

        function ChamaMDetails(id) {
            var strWindowFeatures = "width=800,height=600,menubar=no,location=no,resizable=no,scrollbars=yes,status=yes,toolbar=no";
            var urlopen = "/CampanhaAnalise/GetMinimumDetails/MKT_ID"
                    .replace("MKT_ID", id)

            window.open(urlopen, '_blank', strWindowFeatures, true);

        }




    </script>
}
