@model IEnumerable<RelatoCampanha>

@{
    ViewBag.PageClass = "minified";
}


<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-purple" id="wid-id-3">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Lista</h2>
                        <div class="widget-toolbar">
                            <div class="bg-color-purple">
                                @*@Model.Count()*@
                            </div>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7">
                                        <a href="@Url.Action("CampanhasMetaXRealizado","CampanhaRelatorio")" class="btn btn-success">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Nova Consulta</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- content goes here -->
                            <table id="idtable" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">Código </th>
                                        <th data-hide="phone,tablet">Status</th>
                                        <th data-hide="phone,tablet">Cód. Cliente</th>
                                        <th data-hide="phone,tablet">Cliente</th>
                                        <th data-hide="phone,tablet">Regional</th>
                                        <th data-hide="phone,tablet">Representante</th>
                                        <th data-hide="phone,tablet">Tipo Campanha</th>
                                        <th data-hide="phone,tablet">Meta</th>
                                        <th data-hide="phone,tablet">% Atingido</th>
                                        <th data-hide="phone,tablet">Premiação</th>
                                        <th> Detalhes </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            <td> <a href="@Url.Action("Details","CampanhaMarketing", new { id = product.campanhaid})"> @product.campanhaid  </a>  </td>
                                            <td data-hide="phone,tablet"> @product.descricao </td>
                                            <td data-hide="phone,tablet"> @product.cod_pessoa </td>
                                            <td data-hide="phone,tablet"> <a target="_blank" href="@Url.Action("Account","ViewProfile", new { id = product.cod_pessoa})"> @product.des_pessoa <i class="fa fa-external-link" aria-hidden="true"></i> </a>  </td>
                                            <td data-hide="phone,tablet"> @product.cod_regional </td>
                                            <td data-hide="phone,tablet"> @product.des_representante </td>
                                            <td data-hide="phone,tablet"> @product.des_acao </td>
                                            <td data-hide="phone,tablet"> @( product.vlr_meta.HasValue ? product.vlr_meta.Value.ToString("c") : "0" )  </td>
                                            <td data-hide="phone,tablet"> @(  product.per_atingido.HasValue ? product.per_atingido.Value.ToString("0.00") : "0" ) </td>
                                            <td data-hide="phone,tablet"> @( product.vlr_contrato.HasValue ? product.vlr_contrato.Value.ToString("c") : "0" )  </td>
                                            <td> <a target="_blank" class="btn btn-info" href="@Url.Action("Details","CampanhaMarketing", new { id = product.campanhaid})"> Detalhes <i class="fa fa-external-link" aria-hidden="true"></i> </a>  </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
    <!-- /.modal -->


</div>
@section pagespecific {
    <script>

        pageSetUpTable("idtable", 150);

    </script>
}
