@model UsuarioEstagio_Model
<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-3">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Lista</h2>
                        <div class="widget-toolbar">
                            <div class="bg-color-darken">
                                @Model.ListaUsuario.Count()
                            </div>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7">
                                        <a href="@Url.Action("Create", new { id = Model.cod_estagio })" class="btn btn-success">
                                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Adicionar</span>
                                        </a>
                                        <a href="@Url.Action("List", "Estagio")" class="btn btn-info">
                                            <i class="fa fa-arrow-left"></i> <span class="hidden-mobile">
                                                Voltar para Estágios
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- content goes here -->
                            <table id="idtable" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:100px" data-class="expand">Código</th>
                                        <th data-hide="phone,tablet">Nome</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int _id = 0; }
                                    @foreach (var product in Model.ListaUsuario)
                                    {
                                        _id = product.estagiousuarioId;

                                        <tr>
                                            <td><a href="@Url.Action("Edit",  new { id = _id, cod_estagio = product.estagioId })"> @product.Usuario.CD_USUARIO </a></td>
                                            <td data-hide="phone,tablet"><a href="@Url.Action("Edit", new { id = _id, cod_estagio = product.estagioId})"> @product.Usuario.NOME </a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
@section pagespecific {
    <script>
        pageSetUpTable("idtable", 50);
    </script>
}