@model Garantia
@{
    ViewBag.PageClass = "minified";
}

<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-8 col-lg-8">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>S.A.C.</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body smart-form">



                            @using (Html.BeginForm())
                            {


                                <div class="panel-group smart-accordion-default" id="accordion">

                                    <div class="panel panel-default">

                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> Mostrar/Esconder Dados da garantia </a></h4>

                                            <div class="panel panel-title">
                                                <div class="panel-body status">
                                                    <div class="who clearfix">
                                                        <img src="~/content/img/avatars/male.png" alt="img" class="online">
                                                        <span class="name"><b>@( Model.Ps_Pessoas.des_pessoa)</b> - @Model.obs - <b> @Model.dta_inclusao.ToString() </b></span>
                                                        <span class="from"><b>@Model._total_aberto.Value.ToString(@"d\.hh\:mm\:ss") atrás </b>  por @Model.Ps_Representante.des_pessoa </span>
                                                        <p><b>@( Model.GE_Status_Garantia.des_nome ) </b> </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            @{ bool _ind_finalizado = Model.dta_finalizacao != null ? true : false; }
                                            <footer>
                                                <a class="pull-left btn btn-danger" href="javascript:void(0)" onclick="ChamaDocs(@Model.garantiaid)"> Documentos </a>
                                                <a class="pull-left btn btn-default" href="@Url.Action("ShowRecebimento", new  { id = Model.garantiaid })"> Ver Recebimento </a>

                                                <a href="@Url.Action("Resposta", new { id = Model.garantiaid })" class="btn btn-info @Html.AddTextIf(_ind_finalizado, "disabled", "")"> <i class="fa fa-lg fa-edit"></i> Trocar Status </a>
                                                <a href="@Url.Action("List")" class="btn btn-warning"> <i class="fa fa-lg fa-arrow-left"></i> Voltar </a>
                                            </footer>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">

                                            @Html.Partial("_Details", Model)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
            <article class="col-sm-12 col-md-4 col-lg-4">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-2">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Estatística</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body smart-form">

                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a> Total em Dias/hh/mm </a></h4>
                                    <div class="panel panel-title">
                                        <div class="panel-body status">
                                            <div class="who clearfix">
                                                <ul class="list-inline">
                                                    <li>
                                                        <div class="easy-pie-chart txt-color-pinkDark easyPieChart" data-percent="@Model._total_aberto.Value.ToString("dd")" data-pie-size="60">
                                                            <span class="percent txt-color-pinkDark"></span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="easy-pie-chart txt-color-greenLight easyPieChart" data-percent="@Model._total_aberto.Value.ToString("hh")" data-pie-size="60">
                                                            <span class="percent txt-color-greenLight"></span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="easy-pie-chart txt-color-orange easyPieChart" data-percent="@Model._total_aberto.Value.ToString("mm")" data-pie-size="60">
                                                            <span class="percent txt-color-orange"></span>
                                                        </div>
                                                    </li>

                                                </ul>

                                                <span class="name"><b> @Model.Ps_Pessoas.des_pessoa </b> </span>
                                                <span class="from"><b> Solução: </b> @Model.Ps_Representante.des_pessoa  </span>
                                                <br />
                                                <span class=""><b>Abertura:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.dta_inclusao </b> </span>
                                                <br />
                                                <span class=""><b>Fechamento: @( Model.dta_finalizacao.HasValue ? Model.dta_finalizacao.Value.ToString() : "" ) </b> </span>
                                                <br />
                                                <span class=""><b>Valor: <span id="cart-total"> @Model.vlr_garantia.Value.ToString("c") </span>  </b> </span>

                                                <br />
                                                <br />
                                                <hr />

                                                <span class="name">
                                                    <b> Origem (S.A.C.) <a target="_blank" href="@Url.Action("Details", "Sac", new { id = ViewBag.cod_gerado })"> @( ViewBag.cod_gerado)  </a>  </b>
                                                    <br />
                                                    <b> Procedimento Crédito: </b> <a target="_blank" href="http://procedimentos.grupofoxlux.com.br/Procedimento/ProcedimentoAdm/Details/@Model.cod_procedimento_vinculado">@Model.cod_procedimento_vinculado </a>
                                                    <br />
                                                    <b> Procedimento Débito Rep.: </b> <a target="_blank" href="http://procedimentos.grupofoxlux.com.br/Procedimento/ProcedimentoAdm/Details/@Model.cod_procedimento_final">@Model.cod_procedimento_final </a>
                                                </span>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>


            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-greenLight" id="wid-id-7">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Itens da Garantia</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">

                                    <div class="col-xs-9 col-sm-5 col-md-6 col-lg-6">
                                        <p class="">
                                            <h1>Itens da Garantia</h1>
                                        </p>
                                    </div>
                                    <div class="col-xs-3 col-sm-7 col-md-6 col-lg-6 text-right">
                                        <a href="@Url.Action("AddItem", "GarantiaItem",new { id = Model.garantiaid , cod_cliente = Model.cod_cliente })" class="btn btn-info"> <i class="fa fa-lg fa-plus"></i> Adicionar Itens </a>
                                        @*<a href="@Url.Action("FilterItemPrint", "Garantias",new { id = Model.garantiaid , cod_cliente = Model.cod_cliente })" class="btn btn-success"> Imprimir por Itens </a>*@
                                        <a href="javascript:void(0);" onclick="GravaID2(this);" data-id="@Model.garantiaid" data-toggle="modal" data-target="#ImprimirNF" class="btn btn-success">Atualizar Notas/Espelho</a>

                                    </div>
                                </div>
                            </div>





                            <table id="idtable_itens" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:30px" data-class="expand">Sequência</th>
                                        <th style="width:80px">Código</th>
                                        <th data-hide="phone">Nome</th>
                                        <th style="width:80px" data-hide="phone,tablet">Nossa nota</th>
                                        <th style="width:80px">Qtde</th>
                                        <th style="width:80px" data-hide="phone,tablet">Valor Unitário</th>
                                        <th style="width:80px">Total</th>
                                        <th style="width:80px" data-hide="phone,tablet">Remover</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in (ViewBag.itens as IEnumerable<GarantiaItem>))
                                    {
                                        <tr id="row-@product.garantiaitemid">
                                            <td>@product.garantiaitemid</td>
                                            <td data-hide="phone,tablet">@product.cod_foxlux</td>

                                            <td data-hide="phone,tablet">

                                                <a data-garantiaid="@product.garantiaid" cod_item="@product.cod_item" data-id="@product.garantiaitemid" onClick="ChamaTelaImagens(this)" href="javascript:void(0)"> @product.IE_Itens.des_item </a>


                                            </td>

                                            <td data-hide="phone,tablet">@product.num_nota</td>
                                            <td data-hide="phone,tablet">@product.qtd_lancamento</td>
                                            <td data-hide="phone,tablet">@product.vlr_lancamento.ToString("c")</td>
                                            <td data-hide="phone,tablet">@product.vlr_total.ToString("c")</td>
                                            <td data-hide="phone,tablet">
                                                <a data-id="@product.garantiaitemid" href="javascript:void(0)" class="btn btn-danger RemoveLink_old" onclick="removeitem(this)"> Remover </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>




            <article class="col-sm-12 col-md-8 col-lg-8">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-3">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Troca de Status</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <h1>Troca Status</h1>
                            <table id="idtable_s" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th style="width:100px" data-class="expand">Código</th>
                                        <th style="width:100px" data-hide="phone,tablet">Nome</th>
                                        <th style="width:100px" data-hide="phone,tablet">De</th>
                                        <th style="width:100px" data-hide="phone">Para</th>
                                        <th style="width:100px">Data Troca</th>
                                        <th style="width:100px" data-hide="phone,tablet">Obs</th>
                                        <th style="width:100px" data-hide="phone,tablet">Tempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in (ViewBag.troca_estagio as IEnumerable<Garantia_Troca_Status>).OrderBy(p => p.num_seq))
                                    {
                                        <tr>
                                            <td>@product.num_seq</td>
                                            <td data-hide="phone,tablet">@( product.Usuario != null ? product.Usuario.NOME : "")</td>
                                            <td data-hide="phone,tablet">@( product.StatusAnterior != null ? product.StatusAnterior.des_nome : "")</td>
                                            <td data-hide="phone,tablet">@( product.StatusEntrada != null ? product.StatusEntrada.des_nome : "")</td>
                                            <td data-hide="phone,tablet">@product.dta_troca</td>
                                            <td data-hide="phone,tablet">@product.obs</td>
                                            <td data-hide="phone,tablet">@product._total_aberto.Value.ToString(@"d\.hh\:mm\:ss")</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>

            @if (Settings.EnableNotes)
            {
                <article class="col-sm-12 col-md-4 col-lg-4">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-pink" id="wid-id-4">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Comentários</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                <input class="form-control" type="text">
                                <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                            </div>
                            <!-- widget content -->
                            <div class="widget-body">

                                <h1>Notas</h1>
                                <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                                    <textarea maxlength="500" id="msgcliente" rows="2" class="form-control" placeholder="Notas"></textarea>
                                    <div class="margin-top-10">
                                        <button data-id="@Model.garantiaid " type="submit" class="btn btn-sm btn-primary pull-right PostComente">
                                            Post
                                        </button>
                                    </div>
                                </form>
                                <table id="idtable" style="width:100%">
                                    <tbody>
                                        <!-- load by javascript -->
                                        @foreach (var product in ViewBag.comentarios as IEnumerable<Note>)
                                        {
                                            string nomeusuario = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(product.Usuario.NOME.ToLower());
                                            decimal DifMinute = ((TimeSpan)(System.DateTime.Now - product.dta_inclusao)).Minutes;
                                            <tr>
                                                <td>
                                                    <div class="timeline-seperator text-center">
                                                        <span>
                                                            @product.dta_inclusao.ToShortDateString()&nbsp;&nbsp;-&nbsp;&nbsp;@product.dta_inclusao.ToShortTimeString() <small class="text-muted pull-right">
                                                                @DifMinute Minutos atrás
                                                            </small>
                                                        </span>
                                                    </div>
                                                    <div class="chat-body no-padding profile-message">
                                                        <ul>
                                                            <li class="message">
                                                                <img src="/Content/img/avatars/male.png" class="online" alt="sunny">
                                                                <span class="message-text" style="min-height:50px;">
                                                                    <a href="javascript:void(0);" class="username">
                                                                        @nomeusuario
                                                                    </a>
                                                                    <small class="text-muted pull-right">
                                                                        Postou um comentário
                                                                    </small>
                                                                    <br />
                                                                    <span>
                                                                        @product.msg
                                                                    </span>
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>

            }


        </div>


    </section>
    <!-- end widget grid -->
</div>

<div class="modal fade" id="ImprimirNF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Imprimir NF</h4>
            </div>
            @using (Html.BeginForm("ImpressaoNFD", "Garantias", FormMethod.Post, new { @id = "form_post", @novalidate = "novalidate" }))
            {
                <div class="modal-body">
                    <div id="notasdagarantia"> </div>
                    <div class="row">
                        <div class="col-md-12">

                            <input type="hidden" id="cod_garantia_print" name="cod_garantia_print" />
                            <input type="hidden" id="num_nota" name="num_nota" value="0" />



                            <label class="label txt-color-orange">Obs</label>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Obs das Notas" id="ObsImpressao" name="ObsImpressao" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="registra_contabil" name="registra_contabil" value="true" checked />
                    <label for="registra_contabil">Registra em Contabilidade ?</label>
                    <input type="hidden" value="false" name="registra_contabil" />

                    <input type="checkbox" id="registra_impressao" name="registra_impressao" value="true" checked />
                    <label for="registra_impressao">Registra impressão ?</label>
                    <input type="hidden" value="false" name="registra_impressao" />

                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" name="save" class="btn btn-success" value="save"> <span id="nbutton" name="nbutton"> Imprimir Todas </span> </button>

                </div>
            }

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@section pagespecific {
    <script>
        function ChangeNota(element) {
            document.getElementById("num_nota").value = $(element).attr("data-id");
            if ($(element).attr("data-id") > 0) {
                document.getElementById("nbutton").innerHTML = " Imprimir " + $(element).attr("data-id");
            } else {
                document.getElementById("nbutton").innerHTML = " Imprimir Todas ";
            }
        }

      function GravaID2(element) {
            document.getElementById("cod_garantia_print").value = $(element).attr("data-id");

            var data_to_pass = { garantiaId: $(element).attr("data-id")};
            var url = '@Url.Action("GetNotas")';

            var div = document.getElementById("notasdagarantia");
            div.innerHTML = "";
            div.innerHTML = ' <a href="javascript:void(0);" onclick="ChangeNota(this);" data-id="0">Todas</a> ; ';
            var ancora = "";

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: data_to_pass,
                success: function (data) {
                    $.each(data, function (i, item) {
                        ancora = ' <a href="javascript:void(0);" onclick="ChangeNota(this);" data-id="'+ data[i].Nota+'">'+ data[i].Nota +'</a> ';
                        div.innerHTML = div.innerHTML + ancora + ";";
                    });

                }
            });



        }


        function ChamaDocs(garantiaid) {
            var strWindowFeatures = "width=800,height=600,menubar=no,location=no,resizable=no,scrollbars=yes,status=yes,toolbar=no";
            var id = 0;
            var urlopen = "/Garantias/GetDocs?id=PAR_ID"
                .replace("PAR_ID", garantiaid)

            window.open(urlopen, '_blank', strWindowFeatures, true);
        }
    </script>
    <script type="text/javascript">

        function removeitem(element) {
            // Get the id from the link
            var recordToDelete = $(element).attr("data-id");

            if (recordToDelete != '') {
                debugger;
                // Perform the ajax post
                $.post("/GarantiaItem/RemoveItemGarantia", { "id": recordToDelete },
                    function (data) {
                        $('#row-' + data.id).fadeOut('slow');
                        $('#cart-total').text(data.total);

                    });
            }
        }

        function ChamaTelaImagens(element) {
            var _garantiaId = $(element).attr("data-garantiaid");
            var _garantiaitemid = $(element).attr("data-id");
            var _cod_item = $(element).attr("cod_item");

            var strWindowFeatures = "width=800,height=600,menubar=no,location=no,resizable=no,scrollbars=yes,status=yes,toolbar=no";

            var urlopen = "/RecGarantias/GetImgItemGat?ID=GARANTIA_ID&garantiaitemId=ITEM_ID&cod_item=COD_ITEMPAR"
                    .replace("GARANTIA_ID", _garantiaId)
                    .replace("ITEM_ID", _garantiaitemid)
                    .replace("COD_ITEMPAR", _cod_item)
            ;

            window.open(urlopen, '_blank', strWindowFeatures, true);
        };




        pageSetUpTable("idtable_s", 5);
        pageSetUpTable("idtable_itens", 5);


        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");

                if (recordToDelete != '') {
                    debugger;
                    // Perform the ajax post
                    $.post("/GarantiaItem/RemoveItemGarantia", { "id": recordToDelete },
                        function (data) {
                            $('#row-' + data.id).fadeOut('slow');
                            $('#cart-total').text(data.total);

                        });
                }
            });

        });



        function handleUpdate() {
            // Load and deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

            // Update the page elements
            $('#row-' + data.id).fadeOut('slow');

            //$('#cart-total').text(data.CartTotal);
        }



        $(function () {
            /*
       * Smart Notifications
       */
            // Document.ready -> link up remove event handler
            $(".PostComente").click(function () {
                // Get the id from the link
                //debugger;
                var recordToUpdate = $(this).attr("data-id");
                var text = $("#msgcliente").val();
                var table = document.getElementById("idtable");
                if (recordToUpdate != '') {
                    $.ajax({
                        dataType: "json",
                        type: "POST",
                        url: "@Url.Action("PostComentario", "Note")",
                        data: { id: recordToUpdate, msg: text, origem: "GARANTIA" },
                        success: function (dados) {
                            var row = table.insertRow(0);
                            var cell1 = row.insertCell(0);
                            var string = " <div class='timeline-seperator text-center'>  "
                            + "       <span>                                              "
                            + "                       _data_ <small class='text-muted pull-right'> "
                            + "                            _minuto_ Minutos atrás "
                            + "                        </small> "
                            + "                    </span> "
                            + "                </div> "
                            + "                <div class='chat-body no-padding  profile-message'> "
                            + "                    <ul> "
                            + "                        <li class='message'> "
                            + "                            <img src='/Content/img/avatars/male.png' class='online' alt='sunny'> "
                            + "                            <span class='message-text' style='min-height:50px;'> "
                            + "                                <a href='javascript:void(0);' class='username'> "
                            + "                                    _nome_ "
                            + "                                </a> "
                            + "                                    <small class='text-muted pull-right'> "
                            + "                                        Postou um comentário "
                            + "                                    </small> "
                            + "                                    <br /> "
                            + "                                <span> "
                            + "                                    _msg_ "
                            + "                                </span> "
                            + "                            </span>"
                            + "                        </li>"
                            + "                    </ul>"
                            + "                </div>";
                            string = string.replace('_data_', dados[0].DataPequena + "   -   " + dados[0].Horapequena);
                            string = string.replace('_minuto_', '0');
                            string = string.replace('_nome_', dados[0].User);
                            string = string.replace('_msg_', dados[0].Mensagem);
                            cell1.innerHTML = string;
                            text = $("#msgcliente").val("");


                            //$.bigBox({
                            //    title: "Post enviado",
                            //    content: dados[0].Mensagem,
                            //    color: "#3276B1",
                            //    icon: "fa fa-bell swing animated",
                            //    number: "1",
                            //    timeout: 6000
                            //});

                            e.preventDefault();

                        }
                    });
                }
            });
        });
    </script>
}