@model Garantia_Resposta_Model
@{
    
    ViewBag.PageClass = "minified";
}

<!-- MAIN CONTENT -->
<div id="content">
    @{ Html.RenderPartialIf("_MiniDashboard", Settings.EnableMiniDashborad); }
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-6 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Garantia</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Altere o título deste grid de dados...</span>
                        </div>
                        <!-- widget content -->
                        <div class="widget-body no-padding smart-form">
                            @using (Html.BeginForm())
                            {
                                
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Garantia.garantiaid)

                                <fieldset>

                                    <div class="row">
                                        <section class="col col-8">
                                            <label class="label">Confira (ou inclua) as Notas emitidas pelo Cliente</label>
                                            <label class="select">
                                                @Html.TextBoxFor(m => m.Garantia.num_nf_cliente, new { @class = "form-control", @placeholder = "NF Cliente" })
                                            </label>
                                        </section>



                                    </div>
                                    <div>
                                        <section>
                                            <label class="label">Obs</label>
                                            <label class="textarea textarea-resizable">
                                                <i class="icon-prepend fa fa-comment"></i>
                                                @Html.TextAreaFor(m => m.Obs, new { @class = "custom-scroll", @rows = "2" })
                                                @Html.ValidationMessageFor(model => model.Obs)
                                            </label>
                                        </section>

                                    </div>

                                </fieldset>



                                <footer>
                                    <button type="submit" name="save" class="btn btn-success" value="save"> Salvar </button>
                                    <a href="@Url.Action("List")" class="btn btn-warning"> <i class="fa fa-lg fa-arrow-left"></i> Voltar </a>
                                </footer>
                            }
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

            
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
@section pagespecific {
    <script>
        pageSetUpTable("idtable", 5);

    </script>
}